@import 'config';

/* button */

/* icon */
.ic {
    &-profile {
        border-radius: 50%;
        opacity: 0.7;
        background-image: url('../images/common/ic-profile-default.png');
        // background-color: rgba(255, 255, 255, 0.71);
        @for $i from 1 through 6 {
            &-default#{$i} {
                background-image: url('../images/common/ic-profile-default#{$i}.png');
            }
        }
        @for $i from 1 through 24 {
            &-pair#{$i} {
                background-image: url('../images/common/ic-profile-pair#{$i}.png');
            }
        }
    }
}
//contents-list
.contents-list {
    li {
        &.focus {
            .meta-data {
                .title {
                    font-family: $font-bold;
                    color: $color-white;
                    opacity: 1;
                }
                .sub-text {
                    opacity: 1;
                }
            }
        } 
    }
}
//poster-horizontal
.poster-horizontal {
    position: relative;
    width: px(380);
    height: px(214);
    &::before {
        @include vs;
        width: 100%;
        height: 100%;
        border-radius: px($border-radius);
        background-image: $poster-default-image;
        @include background-default;
        z-index: 0;
    }
    .poster-thumbnail {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: px($border-radius);
        @include background-default;
        z-index: 1;
    }
    .poster-component {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        &::before {
            @include vs;
            @include background-default;
            width: 100%;
            height: 100%;
            border-radius: px($border-radius);
            background-size: 100% px(145);
            background-position: bottom;
            background-image: linear-gradient(to bottom, $color-bg-transparent, $color-pure-black);
        }
        .poster-tag {
            display: flex;
            position: absolute;
            top: px(6);
            right: px(12);
            letter-spacing: px(-0.6);
            opacity: 0;
            span {
                width: px(44);
                height: px(44);
                line-height: px(44);
                margin-right: px(5);
                border-radius: 50%;
                font: {
                    family: $font-bold;
                    size: 2rem;
                }
                text-align: center;
                color: $color-white;
                background-color: $color-black-70;
                &.poster-tag-age {
                    //전체, 무료 텍스트 일 때 [한글]
                    font-size: 1.8rem;
                }
                strong {
                    //19세, R등급 일 때
                    font-size: 2rem;
                    color: $color-danger;
                }
                &.view-all, &.pay-mobile {
                    width: inherit;
                    padding: 0 px(10);
                    border-radius: px($border-radius);
                    font: {
                        family: $font-regular;
                        size: 1.8rem;
                    }
                    strong {
                        font-family: $font-bold;
                    }
                }
                &.view-mobile {
                    width: inherit;
                    padding: 0 px(10);
                    border-radius: px($border-radius);
                    color: $color-primary;
                    font-size: 1.8rem;
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .poster-time {
            position: absolute;
            bottom: px(12);
            padding: 0 px(12);
            width: 100%;
            font-size: 2.6rem;
            color: $color-tag-gray;
            dt {
                position: relative;
                font-size: 2.6rem;
                color: $color-tag-gray;
                line-height: px(34);
                &::before {
                    @include vs-ib;
                    width: px(24);
                    height: px(32);
                    margin-right: px(8);
                    vertical-align: bottom;
                    background-image: url('../images/common/ic-clock.png');
                    @include background-contain;
                }
                // 시청완료
                &.watch-complete {
                    height: px(28);
                    &::before {
                        @include vs-ib;
                        width: px(20);
                        height: px(28);
                        margin-right: px(8);
                        vertical-align: bottom;
                        background-image: url('../images/vod/ic-series-playover.png');
                        @include background-contain;
                    }
                }
            }
            dd {
                margin-top: px(8);
                @include progress-bar($width: 100%);
            }
            +.poster-button {
                margin-bottom: px(14);
            }
        }
        .poster-button {
            position: absolute;
            bottom: px(5);
            right: 0;
            font: {
                family: $font-bold;
                size: 2.2rem;
            }
            line-height: px(48);
            padding: 0 px(18);
            border-radius: px($border-radius);
            background-color: $color-bg-black-80;
            z-index: 1;
            display: none;
            &.play {
                &::before {
                    @include vs-ib;
                    width: px(14);
                    height: px(16);
                    margin-right: px(8);
                    background-image: url('../images/vod/ic-play-w.png');
                    @include background-contain;
                }
            }
        }
    }
    &.movies {
        + .meta-data {
            .title {
                display: none;
            }
            .sub-text {
                @include flex-items-center;
                margin-top: 0;
                font: {
                    family: $font-bold;
                    size: 3rem;
                }
                color: $color-white;
                line-height: px(40);
            }
        }
    }
    &.adult-r {
        .poster-component {
            &::after {
                @include vs;
                width: 100%;
                height: 100%;
                border-radius: px($border-radius);
                background-color: $color-button-dim;
                z-index: 1;
            }
        }
        .poster-tag {
            opacity: 1;
            .view-all, .view-mobile, .pay-mobile, .poster-tag-age {
                opacity: 0;
            }
        }
    }
    &.dimmed {
        &::after {
            @include vs;
            width: 100%;
            height: 100%;
            border-radius: px($border-radius);
            background-color: $color-bg-black-80;
            z-index: 1;
        }
    }
    .focus &, .selected & {
        z-index: 2;
        &::before {
            @include focus-scale();
            transform-origin: center;
        }
        .poster-thumbnail {
            @include focus-scale();
            transform-origin: center;
            &::before {
                @include vs;
                width: 100%;
                height: 100%;
                box-shadow: inset 0 0 px(60) 0 $color-bg-black-50;
            }
            &::after {
                @include focus-border();
            }
        }
        .poster-component {
            &::before {
                @include focus-scale();
                transform-origin: center;
                opacity: 1;
            }
        }
        .poster-tag {
            opacity: 1;
        }
        .poster-time {
            left: px(-12);
            bottom: px(6);
            width: 106%;
            dt {
                opacity: 1;
            }
        }
        &.dimmed {
            &::after {
                @include focus-scale();
                transform-origin: center;
            }
        } 
        &.adult-r {
            .poster-component {
                &::after {
                    @include focus-scale();
                    transform-origin: center;
                }
            }
        }   
    }
    .selected & {
        .poster-thumbnail {
            &::after {
                opacity: 0;
            }
        }
    }
}

//poster-vertical
.poster-vertical {
    position: relative;
    width: px(264);
    height: px(376);
    &::before {
        @include vs;
        width: 100%;
        height: 100%;
        border-radius: px($border-radius);
        background-image: $poster-default-image2;
        @include background-default;
        z-index: 0;
    }
    .poster-thumbnail {
            position: relative;
            height: 100%;
            border-radius: px($border-radius);
            z-index: 1;
            background-image: $poster-default-bg;
            @include background-default;
    }
    .focus & {
        &::before {
            @include focus-scale();
            transform-origin: center;
        }
        &::after {
            @include focus-border;
        }
        .poster-thumbnail {
            @include focus-scale();
            transform-origin: center;
            &::after {
                @include focus-border();
            }
        }
    }
}
//new아이콘
.ic-new {
    display: block;
    width: px(26, 18);
    height: px(26, 18);
    margin-left: px(8);
    border: px(2) solid rgba($color-border-gray, .7);
    border-radius: 50%;
    font: {
        family: $font-regular;
        size: 1.8rem;
    }
    text-align: center;
    line-height: px(22, 17);
    color: $color-white-60;
    .focus &{
        border: px(2) solid $color-primary;
        color: $color-white;
        background-color: $color-primary;
    }
}

.none {
    display: none;
}

.skip {
    display: none;
}

//리모콘 keyguide
.keyguide {
    display: flex;
    font-size: 2.4rem;
    color: $color-bg-key-notice;
    line-height: px(30);
    .ic-round {
        @include ic-round();
        margin-right: px(12);
        &.keyguide-channel {
            padding: 0 px(10);
            &::after {
                @include vs-ib;
                width: px(34);
                height: px(30);
                margin-left: px(6);
                background-image: url('../images/vod/ic-key-channelupdown.png');
                @include background-default;
            }
        }
    }
    +.keyguide {
        margin-left: px(30);
        &:first-child {
            margin-left: 0;
        }
    }
}
// 확인/OK 화이트 라인 키가이드
.keyguide-ok {
    @include ic-round();
    padding: 0 px(12);
    margin-right: px(8);
    background-color: unset;
    border: px(2) solid $color-white;
    color: $color-white;
}
//page경로
.path {
    @include flex-items-center;
    font-size: 2.4rem;
    span {
        position: relative;
        margin-right: px(30);
        color: $color-gray-sub;
        &::after {
            @include vs;
            left: unset;
            right: px(-22);
            content: '>';
        }
        &+span:last-child {
            color: $color-blue;
            margin-right: 0;
            &::after {
                content: none;
            }
        }
    }
}

//ic-tag
//ic-tag group
.meta-tag {
    @include flex-items-center;
}
.ic-tag {
    display: inline-block;
    margin-left: 0;
    height: px(34);
    line-height: px(30, 18);
    background-color: $color-white-02;
    border: px(1, 1) solid $color-white-30;
    border-radius: px(2);
    padding: 0 px(8);
    color: $color-bg-gray;
    font: {
        size: 1.8rem;
        family: $font-bold;
    }
    &.dolby-vision {
        @include ir;
        @include background-contain;
        width: px(70);
        background-image: url('../images/vod/ic-dolby.png');
        background-size: px(54);
    }
    .focus &, .selected & {
        color: $color-white;
        background-color: $color-primary;
        border: px(1, 1) solid $color-primary;
    }
    + .ic-tag {
        margin-left: px(10);
    }
}
// 영화 개봉일, 국적, 장르, 연령, 런닝타임
.default-info {
    @include flex-items-center;
    font-size: 2.2rem;
    line-height: px(28);
    margin-top: px(16);
    span {
        &:not(.ic-tag) {
        position: relative;
        display: inline-block;
        margin-left: px(10);
            &::before {
                @include vs-ib;
                width: px(2);
                height: px(19);
                margin-right: px(10);
                margin-bottom: px(-2, -2);
                background-color: $color-white;
                opacity: 0.2;
            }
            &:first-child{
                margin-left: 0;
                &::before {
                    content: none;
                }
            }
        }
        &.ic-tag.small {
            margin-left: px(8);        
        }
    }
}
//ic-age 콘텐츠 데이터에 노출되는 나이 아이콘 (흰색테두리 원형)
.ic-age {
    display: inline-block;
    width: px(32);
    height: px(32);
    font: {
        family: $font-bold;
        size: 1.6rem;
    }
    line-height: px(28, 19);
    text-align: center;
    border-radius: 50%;
    border: px(2) solid $color-white;
}

//input-cursor, underline
.focus {
    .cursor {
        position: relative;
        width: 0;
        &::before {
            @include vs;
            top: 50%;
            left: px(-1, -1);
            transform: translateY(-50%);
            width: px(4);
            height: px(40);
            background-color: $color-white;
            z-index: 3;
            animation: blink-cursor 1s steps(1) infinite;
        }
    }
    .underline {
        position: relative;
        &::after {
            @include vs;
            top: unset;
            bottom: px(20);
            width: 100%;
            height: px(2);
            background-color: $color-white;
            animation: blink-cursor 1s steps(1) infinite;
        }
    }
}

.popup {
    .focus {
        .cursor {
            &::before {
                background-color: $color-cursor-popup;
            }
            &.underline {
                &::after {
                    background-color: $color-cursor-popup;
                }
            }
        }
    }
}
.input-text {
    position: relative;
    width: 100%;
    .placeholder {
        position: absolute;
        width: inherit;
        text-align: center;
        font: {
            family: $font-regular;
            size: 2.9rem;
        }
        line-height: px(82);
        color: $color-gray;
        white-space: nowrap;
    }
}
@keyframes blink-cursor {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

//버튼 메뉴
.button-menu {
    @include flex-items-center;
    justify-content: center;
    position: relative;
    width: px(380);
    height: px(214);
    &::before {
        @include vs;
        width: 100%;
        height: 100%;
        border-radius: px($border-radius);
        border: px(4, 3) solid $color-gray-border;
        background-color: $color-bg-black-40;
        font-size: 2.6rem;
        text-align: center;
        color: $color-gray;
    }
    .content-info {
        position: unset;
        width: px(280);
        span {
            display: block;
            margin-bottom: px(14);
            font-size: 2.4rem;
            color: $color-white;
            opacity: .7;
        }
        p {
            font: {
                family: $font-bold;
                size: 3.6rem;
            }
            color: $color-white;
            opacity: .9;
            &::before {
                content: unset;
            }
            .ic-gnb-total {
                background-image: url('../images/home/ic-home-category.png');
                display: inline-block;
                width: px(48);
                height: px(48);
                margin-right: px(5);
                vertical-align: top;
                @include background-default;
            }
        }
    }
    .focus & {
        &::before {
            @include focus-scale;
            @include focus-border;
            z-index: -1;
            transform-origin: left;
            border: none;
            background-color: $color-bg-black;
        }
        .content-info {
            span {
                font-size: 2.6rem;
                opacity: .8;
            }
            p {
                font-size: 3.8rem;
                opacity: 1;
                .count {
                    color: $color-primary;
                }
                .ic-gnb-total {
                    background-image: url('../images/home/ic-home-category-focus.png');
                    vertical-align: bottom;
                }
            }
        }
    }
}

//marquee-text
@keyframes marquee-text {
    100% {
        transform: translateX(-50%);
    }
}
.marquee-text {
    overflow: hidden;
    display: flex;
    .marquee-child {
        position: relative;
        @include ellipsis();
    }
}
.focus {
    .marquee-child {
        .space {
            padding: 0 px(50);
        }
    }
    .marquee-play {
        .marquee-child {
            animation-name: marquee-text;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            animation-delay: 2s;
            overflow: visible !important;
            text-overflow: initial !important;
        }
    }
}

//loading animation 
.loading-img {
    $size: px(96);
    width: $size;
    height: $size;
    margin: 0 auto;
    background-image: url('../images/common/img-loading.png');
    @include background-default;
    animation: loading-ani 1s steps(8) infinite;
}

@keyframes loading-ani {
    from {
        background-position: 0 0;
    }
    to {
        background-position: px(-768, -512) 0;
    }
}
//animation class
.animate {
    .focus {
        .poster-horizontal {
            &::before {
                @include animation-ready;
            }
        }
        .poster-component {
            &::before {
                @include animation-ready;
            }
        }
        .poster-thumbnail {
            @include animation-ready;
        }
        &.button-primary {
            @include animation-ready(all);
        }
        .cast-profile {
            &::before {
                @include animation-ready;
            }
        }
        .profile-image {
            @include animation-ready();
        }
        .poster-banner {
            @include animation-ready();
        }
        &.view-list {
            @include animation-ready();
            &::before {
                @include animation-ready;
            }
        }
    }
    //home-animate
    .home-aside, .home-body, .gnb, .home-contents > ul {
        @include animation-ready();
    }
}
