@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* toast 임시 */
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

html, body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, a {
  margin: 0;
  padding: 0;
}

body, table, input, textarea, button, select {
  font-size: 1.8rem;
  font-family: "Yoon Gothic 750", "YoonGothic 700 50", "Yoon윤고딕 750", "YoonGothic 750", "YOONGOTHICPRO750", "sans-serif";
  line-height: normal;
  color: #eee;
}

body {
  -webkit-text-size-adjust: none;
}

img, fieldset, button {
  border: 0;
}

input, textarea, img {
  vertical-align: top;
}

button {
  cursor: pointer;
  background: 0;
}

textarea {
  overflow: auto;
  resize: none;
}

strong {
  font-weight: normal;
}

input {
  outline: none;
  -webkit-appearance: none;
}

input[type="text"], input[type="password"] {
  color: #eee;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: inherit;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

ul, ol {
  list-style: none;
}

em, address {
  font-style: normal;
}

a {
  outline: none;
  text-decoration: none;
  color: #eee;
}

a:hover, a:active, a:focus {
  text-decoration: none;
}

hr, caption, legend {
  display: none;
}

i {
  font-style: normal;
}
