@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* toast 임시 */
.category-container {
  position: relative;
  width: 100%;
  height: 1080px;
}

.category-container .meta-tag {
  margin-top: 12px;
}

.category-container .ic-tag {
  display: inline-block;
  height: 28px;
  line-height: calc(28px - 1px * 2);
  background-color: rgba(238, 238, 238, 0.02);
  border: 1px solid rgba(119, 119, 119, 0.5);
  border-radius: 4px;
  padding: 0 8px;
  color: #eee;
  margin-left: 10px;
  font-size: 1.6rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.category-container .ic-tag.dolby-vision {
  font-size: 0;
  color: rgba(0, 0, 0, 0);
  width: 70px;
  background: url(../images/vod/ic-dolby.png) center/54px no-repeat;
}

.focus .category-container .ic-tag, .selected .category-container .ic-tag {
  color: #a9a9a9;
  border: 2px solid rgba(169, 169, 169, 0.5);
  background-color: rgba(0, 0, 0, 0);
}

.category-container .ic-tag:first-child {
  margin-left: 0;
}

.category-container .rating-star {
  display: block;
  width: 26px;
  height: 26px;
  margin-right: 4px;
  background-image: url("../images/vod/ic-ratingstar-full-w.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .rating-star.full {
  background-image: url("../images/vod/ic-ratingstar-full.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .rating-star.half {
  background-image: url("../images/vod/ic-ratingstar-half.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .rating-star.empty {
  background-image: url("../images/vod/ic-ratingstar-none.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.focus .category-container .rating-star {
  background-image: url("../images/vod/ic-ratingstar-full.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .path {
  position: absolute;
  height: 30px;
  top: 45px;
  right: 60px;
}

.category-container .path span {
  color: rgba(238, 238, 238, 0.7);
}

.category-container .vod-detail-bgimage {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/vod/img-thumbnail-detail-default.png);
  background-size: 1446px;
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #080d19;
}

.category-container .gradient-bg {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
}

.category-container .gradient-bg::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to right, #080d19 50%, rgba(0, 0, 0, 0)) left top/1072px no-repeat;
}

.category-container .gradient-bg::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #080d19 50%, #080d19 50%) bottom center/100% 616px no-repeat;
}

.category-container .contents.active .content-info {
  opacity: 1;
}

.category-container .content-info {
  opacity: 0;
  position: relative;
  height: 455px;
  margin-top: 140px;
}

.category-container .content-info .content-title {
  position: relative;
  font-size: 2.4rem;
  color: #eee;
  line-height: 32px;
  margin-top: 24px;
}

.category-container .content-info .summary {
  margin-top: 20px;
  width: 660px;
  font-size: 2.5rem;
  color: #eee;
  line-height: 36px;
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  /*! autoprefixer: off */
  -webkit-line-clamp: 3;
  /*! autoprefixer: on */
  -webkit-box-orient: vertical;
  opacity: 0.5;
}

.category-container h1.vod-title {
  width: 660px;
  height: 80px;
  font-size: 6rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  line-height: 80px;
  margin-bottom: 16px;
}

.category-container h1.vod-title.image-logo {
  height: 104px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: left;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.category-container h1.vod-title.double-line {
  font-size: 5rem;
  line-height: normal;
  height: 132px;
}

.category-container .rating-info div {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  margin-right: 22px;
}

.category-container .rating-info div::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  height: inherit;
}

.category-container .rating-info div .point {
  display: inline-block;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  font-size: 2.4rem;
  min-width: 64px;
}

.category-container .rating-info div .point .base-point {
  position: relative;
  display: inline-block;
  font-family: "Yoon Gothic 750", "YoonGothic 700 50", "Yoon윤고딕 750", "YoonGothic 750", "YOONGOTHICPRO750";
  font-size: 2rem;
  color: #bbb;
  padding-left: 10px;
  vertical-align: baseline;
}

.category-container .rating-info div .point .base-point::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  content: '/';
}

.category-container .rating-info .watcha {
  padding-left: 116px;
}

.category-container .rating-info .watcha::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 108px;
  background-image: url(../images/vod/logo-watcha.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .rating-info .cine21 {
  padding-left: 84px;
}

.category-container .rating-info .cine21::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 76px;
  background-image: url(../images/vod/logo-cine21.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .rating-info .imdb {
  padding-left: 56px;
}

.category-container .rating-info .imdb::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  width: 48px;
  background-image: url(../images/vod/logo-imdb.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .default-info span:not(.ic-tag)::before {
  opacity: 0.6;
}

.category-container .event-message {
  position: relative;
  font-size: 2.2rem;
  color: #ecafb9;
  line-height: 25px;
}

.category-container .event-message::before {
  display: inline-block;
  content: '';
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: bottom;
  background-image: url(../images/vod/ic-event.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .category-list-area {
  width: 1810px;
}

.category-container .category-list-header {
  display: flex;
  align-items: center;
  height: 42px;
  line-height: 42px;
  padding-left: 15px;
}

.category-container .category-list-header h3 {
  font-size: 2.9rem;
}

.category-container .button-area {
  margin-left: 30px;
}

.category-container .button-area .button-option {
  position: relative;
  height: 42px;
  font-family: "Yoon Gothic 750", "YoonGothic 700 50", "Yoon윤고딕 750", "YoonGothic 750", "YOONGOTHICPRO750";
  font-size: 2.2rem;
  line-height: calc(42px - 2px);
  color: #a9a9a9;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #2A2C3E;
  margin-left: 13px;
}

.category-container .button-area .button-option .text {
  min-width: 90px;
}

.category-container .button-area .button-option.dimed {
  background-color: rgba(8, 13, 25, 0.4);
}

.category-container .button-area .button-option.focus {
  height: 42px;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  font-size: 2.2rem;
  color: #080d19;
  background-color: #eee;
}

.category-container .button-area .button-option.option-selected {
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  color: #eee;
}

.category-container .button-area .button-option:first-child {
  margin-left: 0;
}

.category-container .button-area .button-option .filter {
  min-width: 72px;
}

.category-container .button-area .button-option .filter::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: 1px;
  vertical-align: middle;
  background-image: url("../images/category/ic-filter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.category-container .button-area .button-option.option-selected .filter::before {
  background-image: url("../images/category/ic-filter-selected.png");
}

.category-container .button-area .button-option.focus .filter {
  color: #080d19;
}

.category-container .button-area .button-option.focus .filter::before {
  background-image: url("../images/category/ic-filter-focus.png");
}

.category-container .contents-tag {
  margin-left: 16px;
  display: flex;
}

.category-container .contents-tag span {
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  font-size: 2.2rem;
  color: #eee;
}

.category-container .contents-tag span:before {
  display: inline-block;
  content: '';
  content: '#';
}

.category-container .contents-tag span + span {
  margin-left: 10px;
}

.category-container .active .scroll {
  opacity: 1;
}

.category-container .contents-list-wrap {
  position: relative;
  height: 443px;
  padding-left: 21px;
  overflow: hidden;
}

.category-container .contents-list-wrap::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: unset;
  bottom: 0;
  width: 100%;
  height: 224px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #080d19);
  z-index: 1;
  content: none;
}

.category-container .contents-list-wrap.bottom-cover::after {
  content: '';
}

.category-container .contents-list-wrap .scroll {
  position: absolute;
  top: 17px;
  right: 60px;
  width: 6px;
  height: 384px;
  border-radius: calc(6px / 2);
  background-color: rgba(238, 238, 238, 0.2);
  z-index: 1;
}

.category-container .contents-list-wrap .scroll span {
  display: inline-block;
  width: 100%;
  border-radius: calc(6px / 2);
  background-color: #a9a9a9;
}

.category-container .contents-list-wrap .mask {
  width: 100%;
  height: 17px;
}

.category-container .contents-list {
  display: flex;
  flex-flow: row wrap;
}

.category-container .contents-list li {
  margin-bottom: 12px;
  margin-left: 10px;
}

.category-container .contents-list li:nth-child(5n + 1) {
  margin-left: 0 !important;
}

.category-container .contents-list .poster-horizontal {
  width: 330px;
  height: 186px;
}

.category-container .contents-list .focus .poster-horizontal:first-child::before {
  transform-origin: center;
}

.category-container .contents-list .focus .poster-thumbnail {
  transform-origin: center;
}

.category-footer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 50px 30px 0;
  width: 100%;
  height: 232px;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.category-footer:before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  left: unset;
  right: 0;
  width: 572px;
  height: 232px;
  background-image: url("../images/category/bg-keynotice.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-position: right bottom;
  z-index: -1;
}

.category-back {
  flex: 0 0 48px;
  height: 1080px;
  z-index: 10;
}

.category-back .ic-arrow {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/common/ic-gnb-back.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.category-back .ic-arrow.focus {
  background-image: url(../images/common/ic-gnb-back-focus.png);
}

.list-up {
  position: absolute;
  top: 54px;
  left: calc(50% - 22px);
  width: 44px;
  height: 28px;
}

.list-up .ic-arrow {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../images/category/ic-arrow-top.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.list-up .ic-arrow.focus {
  background-image: url("../images/category/ic-arrow-top-focus.png");
}

.category-option {
  background-color: #080d19;
}

.category-option .category-option-header h2 {
  text-align: center;
  padding-top: 97px;
  font-size: 5.2rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.category-option .category-option-header h2::after {
  display: block;
  content: '';
  width: 82px;
  height: 4px;
  background-color: rgba(238, 238, 238, 0.3);
  margin: 48px auto 72px auto;
}

.category-option .category-option-body {
  justify-content: center;
  display: flex;
  align-items: center;
}

.category-option .button-area {
  margin-top: 84px;
  height: 98px;
}

.category-option .button-area button {
  margin-left: 10px;
}

.category-option .button-area button:first-child {
  margin-left: 0;
}

.category-option .option {
  height: calc(calc(80px * 6) + calc(4px * 5));
  position: relative;
  overflow: hidden;
  width: 265px;
  color: rgba(238, 238, 238, 0.4);
  font-size: 3.0rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.category-option .option .scroll {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  border-radius: calc(8px / 2);
  background-color: rgba(238, 238, 238, 0.1);
  z-index: 1;
}

.category-option .option .scroll span {
  display: inline-block;
  width: 100%;
  border-radius: calc(8px / 2);
  background-color: #a9a9a9;
}

.category-option .option.active::after, .category-option .option.active .scroll {
  opacity: 1;
}

.category-option .option li {
  position: relative;
  height: 80px;
  line-height: 80px;
  margin-top: 4px;
  display: flex;
  align-items: center;
}

.category-option .option li p {
  line-height: 80px;
  position: relative;
  top: -2px;
  max-width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-option .option li:first-child {
  margin-top: 0;
}

.category-option .option li.focus, .category-option .option li.list-selected {
  color: #eee;
}

.category-option .type-arrow {
  width: 460px;
  border-right: 2px solid rgba(255, 255, 255, 0.12);
}

.category-option .type-arrow li {
  width: 430px;
  padding: 0 24px;
  justify-content: space-between;
}

.category-option .type-arrow li::after {
  width: 19px;
  height: 32px;
  background-image: url(../images/category/ic-category-arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  content: '';
}

.category-option .type-arrow li.focus::after, .category-option .type-arrow li.list-selected::after {
  background-image: url(../images/category/ic-category-arrow-focus.png);
}

.category-option .type-arrow li.focus {
  background-color: #2A2C3E;
}

.category-option .type-arrow li.focus::before {
  border-radius: 8px;
  border: 4px solid #eee;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
}

.category-option .type-radio {
  width: 438px;
}

.category-option .type-radio.single {
  width: 364px;
}

.category-option .type-radio.single li {
  width: 336px;
  margin-left: 0;
}

.category-option .type-radio .input-radio, .category-option .type-radio .input-checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border: 3px solid #535458;
  border-radius: 50%;
  margin-right: 18px;
}

.category-option .type-radio .input-radio::before, .category-option .type-radio .input-checkbox::before {
  width: calc(40px - 14px);
  height: calc(40px - 14px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: '';
}

.category-option .type-radio .input-radio[type=checkbox]::before, .category-option .type-radio .input-checkbox[type=checkbox]::before {
  width: 40px;
  height: 40px;
}

.category-option .type-radio .input-radio:checked, .category-option .type-radio .input-checkbox:checked {
  border: 3px solid #5d6577;
}

.category-option .type-radio .input-radio[type=radio]:checked::before, .category-option .type-radio .input-checkbox[type=radio]:checked::before {
  background-color: #5d6577;
}

.category-option .type-radio .input-radio[type=checkbox]:checked::before, .category-option .type-radio .input-checkbox[type=checkbox]:checked::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/purchase/ic-check-focus2.png);
}

.category-option .type-radio li {
  width: 370px;
  margin-left: 40px;
  padding: 0 24px;
}

.category-option .type-radio li p label {
  display: block;
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.category-option .type-radio li.selected {
  color: rgba(238, 238, 238, 0.4);
}

.category-option .type-radio li.selected .input-radio, .category-option .type-radio li.selected .input-checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border: 3px solid #535458;
  border-radius: 50%;
}

.category-option .type-radio li.selected .input-radio::before, .category-option .type-radio li.selected .input-checkbox::before {
  width: calc(40px - 14px);
  height: calc(40px - 14px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: '';
}

.category-option .type-radio li.selected .input-radio[type=checkbox]::before, .category-option .type-radio li.selected .input-checkbox[type=checkbox]::before {
  width: 40px;
  height: 40px;
}

.category-option .type-radio li.selected .input-radio:checked, .category-option .type-radio li.selected .input-checkbox:checked {
  border: 3px solid #5d6577;
}

.category-option .type-radio li.selected .input-radio[type=radio]:checked::before, .category-option .type-radio li.selected .input-checkbox[type=radio]:checked::before {
  background-color: #5d6577;
}

.category-option .type-radio li.selected .input-radio[type=checkbox]:checked::before, .category-option .type-radio li.selected .input-checkbox[type=checkbox]:checked::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/purchase/ic-check-focus2.png);
}

.category-option .type-radio li.focus {
  background-color: #2A2C3E;
}

.category-option .type-radio li.focus::before {
  border-radius: 8px;
  border: 4px solid #eee;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: '';
}

.category-option .type-radio li.focus .input-radio, .category-option .type-radio li.focus .input-checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  border: 3px solid #eee;
  border-radius: 50%;
}

.category-option .type-radio li.focus .input-radio::before, .category-option .type-radio li.focus .input-checkbox::before {
  width: calc(40px - 14px);
  height: calc(40px - 14px);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: '';
}

.category-option .type-radio li.focus .input-radio[type=checkbox]::before, .category-option .type-radio li.focus .input-checkbox[type=checkbox]::before {
  width: 40px;
  height: 40px;
}

.category-option .type-radio li.focus .input-radio:checked, .category-option .type-radio li.focus .input-checkbox:checked {
  border: 3px solid #ef3484;
}

.category-option .type-radio li.focus .input-radio[type=radio]:checked::before, .category-option .type-radio li.focus .input-checkbox[type=radio]:checked::before {
  background-color: #ef3484;
}

.category-option .type-radio li.focus .input-radio[type=checkbox]:checked::before, .category-option .type-radio li.focus .input-checkbox[type=checkbox]:checked::before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/purchase/ic-check-focus2.png);
}
