@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* toast 임시 */
.ic-tv-reservation, .ic-tv-repeat {
  margin-left: 12px;
  width: 25px;
  height: 25px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.ic-tv-ellipsis::after {
  display: block;
  content: '';
  width: 100%;
  text-align: center;
  content: "\00B7\00B7\00B7";
  font-style: normal;
}

.ic-tv-reservation {
  background-image: url(../images/channel/ic-reservation.png);
}

.focus .ic-tv-reservation, .selected .ic-tv-reservation {
  background-image: url(../images/channel/ic-reservation-focus.png);
}

.ic-tv-repeat {
  background-image: url(../images/channel/ic-tv-vod.png);
}

.focus .ic-tv-repeat, .selected .ic-tv-repeat {
  background-image: url(../images/channel/ic-tv-vod-focus.png);
}

.channel-container {
  background-color: #080d19;
  position: relative;
  width: 100%;
  height: 100%;
}

.channel-container .ic-tag {
  margin-left: 4px;
}

.channel-container .meta-tag {
  margin-bottom: 0;
}

.channel-container .meta-tag .ic-tag {
  height: 21px;
  font-size: 1.6rem;
  color: rgba(238, 238, 238, 0.7);
}

.channel-container .meta-tag .ic-tag:first-child {
  margin-left: 0;
}

.channel-header {
  background-color: #080d19;
  height: 166px;
  display: flex;
  align-items: center;
}

.channel-header .thumbnail {
  overflow: hidden;
  position: relative;
  width: 296px;
  height: 100%;
  border-radius: 0 5px 5px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.channel-header .thumbnail::before {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-image: linear-gradient(to top, #080d19, rgba(0, 0, 0, 0));
  display: block;
  content: '';
}

.channel-header .thumbnail > span {
  position: absolute;
  left: 0;
  bottom: 12px;
  padding: 0 12px;
  line-height: 23px;
  font-size: 2.6rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.channel-header .thumbnail + .channel-info-wrap {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.channel-header .thumbnail + .channel-info-wrap .channel-number {
  width: 86px;
  margin-left: 36px;
  margin-right: 26px;
  padding-top: 0;
  text-align: left;
}

.channel-header .thumbnail + .channel-info-wrap .info-program {
  margin-top: -3px;
}

.channel-header .channel-info-wrap {
  display: flex;
  flex: 1;
  height: 100%;
  padding-left: 64px;
  padding-right: 33px;
}

.channel-header .channel-number {
  width: 93px;
  margin-left: 0;
  margin-right: 37px;
  padding-top: 40px;
  font-size: 6.8rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  text-align: center;
}

.channel-header .info-program {
  margin-top: 13px;
  flex: 1;
}

.channel-header .info-program .state {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 9px;
}

.channel-header .info-program .state .channel-name {
  font-size: 3.2rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  color: #a9a9a9;
}

.channel-header .info-program .state .date {
  color: #a9a6ff;
  font-size: 2.6rem;
}

.channel-header .info-program .title {
  width: 800px;
  line-height: 42px;
  margin-bottom: 8px;
  font-size: 4.8rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-header .info-program .watching {
  line-height: 21px;
  font-size: 2.6rem;
  display: flex;
  align-items: center;
}

.channel-header .info-program .watching .ing {
  color: #a9a6ff;
}

.channel-header .info-program .watching .ing::after {
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.12);
  position: relative;
  top: 1px;
  margin: 0 10px;
  display: inline-block;
  content: '';
}

.channel-header .info-program .watching .progress {
  display: flex;
  align-items: center;
}

.channel-header .info-program .watching .progress .time {
  color: #a9a9a9;
}

.channel-header .info-program .watching .progress .bar {
  position: relative;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.2);
  margin-left: 21px;
  height: 4px;
  width: 200px;
  border-radius: calc(4px / 2);
}

.channel-header .info-program .watching .progress .bar > span {
  position: absolute;
  height: 100%;
  border-radius: calc(4px / 2);
  background-color: #ef3484;
}

.channel-header .info-program .watching .progress .reservation {
  position: relative;
  display: flex;
  align-items: center;
}

.channel-header .info-program .watching .progress .reservation::before {
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.12);
  position: relative;
  top: 1px;
  margin: 0 10px;
  display: block;
  content: '';
}

.channel-header .info-program .watching .progress .reservation span {
  position: relative;
  top: -1px;
  color: #a9a6ff;
  display: flex;
  align-items: center;
  font-size: 2.2rem;
}

.channel-header .info-program .watching .progress .reservation span::before {
  width: 17px;
  height: 17px;
  margin-right: 4px;
  position: relative;
  top: 1px;
  background-image: url(../images/channel/ic-live-tv.png);
  display: block;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.channel-header .info-program .watching .meta-tag {
  display: flex;
  margin-left: 24px;
}

.channel-header.type-min {
  height: 66px;
}

.channel-header.type-min .title {
  margin-left: 26px;
  display: flex;
  align-items: center;
  font-size: 3.8rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.channel-header.type-min .title::before {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  display: block;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/channel/ic-reservation-focus.png);
}

.channel-body {
  position: relative;
  height: calc(100vh - 166px);
  background-color: #111424;
}

.channel-body .timekeeper {
  height: calc(calc(100vh - 166px) - 46px);
  position: absolute;
  top: 0;
  left: 296px;
  z-index: 10;
}

.channel-body .timekeeper span {
  position: absolute;
  top: -15px;
  left: -42px;
  width: 86px;
  height: 36px;
  line-height: 30px;
  text-align: center;
  background-image: url(../images/channel/ic-timepicker.png);
  font-size: 2.2rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.channel-body .timekeeper::after {
  height: 100%;
  width: 2px;
  background-color: #ef3484;
  display: block;
  content: '';
}

.channel-body .timeline {
  height: 46px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2A2C3E;
  font-size: 2.6rem;
}

.channel-body .timeline h3 {
  display: block;
  height: 100%;
  width: 296px;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.channel-body .timeline .inner {
  position: relative;
  height: 100%;
  flex: 1;
  overflow: hidden;
}

.channel-body .timeline .inner > ul {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channel-body .timeline .inner > ul li.active {
  color: #eee;
}

.channel-body .timeline .inner > ul li:first-child {
  padding-left: 8px;
}

.channel-body .channel-box-wrap {
  position: relative;
  height: calc(calc(100vh - 166px) - 46px - 46px);
}

.channel-body .channel-box-wrap .loading {
  position: absolute;
  top: 0;
  left: 296px;
  width: calc(100vw - 296px);
  height: calc(100% - 4px);
  padding-top: 166px;
  background-color: #111424;
  font-size: 2.6rem;
  color: #777;
  flex-direction: column;
  display: flex;
  align-items: center;
  z-index: 10;
}

.channel-body .channel-box-wrap .loading .loading-img {
  transform: scale(0.688);
  transform-origin: bottom;
  margin-bottom: 10px;
}

.channel-body .channel-box {
  height: calc(calc(calc(100vh - 166px) - 46px - 46px) + calc(4px * 2));
  overflow: hidden;
  position: absolute;
  top: -4px;
  width: 100%;
}

.channel-body .channel-box .mask {
  width: 100%;
  height: 4px;
  display: flex;
}

.channel-body .channel-box .mask::before {
  width: 296px;
  background-color: #111424;
  height: 100%;
  position: relative;
  border-bottom: 1px solid #2A2C3E;
  z-index: 10;
  display: block;
  content: '';
}

.channel-body .channel-box .mask::after {
  flex: 1;
  height: 100%;
  background-color: #111424;
  position: relative;
  border-bottom: 1px solid #2A2C3E;
  z-index: 3;
  display: block;
  content: '';
}

.channel-body .channel-box .mask.alt {
  position: absolute;
  bottom: 0;
}

.channel-body .channel-box .mask.alt::before, .channel-body .channel-box .mask.alt::after {
  background-color: #080d19;
  border: none;
}

.channel-body .channel-box .channel-box-inner {
  margin-left: 64px;
}

.channel-body .channel-schedule {
  height: calc(calc(calc(100vh - 166px) - 46px - 46px) / 6);
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2A2C3E;
}

.channel-body .channel-schedule .button-area {
  height: 65px;
}

.channel-body .channel-schedule .channel-name {
  height: 100%;
  background-color: #111424;
  width: calc(296px - 64px);
  color: #777;
  justify-content: flex-end;
  font-size: 2.6rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  border-right: 1px solid #2A2C3E;
  display: flex;
  align-items: center;
  z-index: 8;
}

.channel-body .channel-schedule .channel-name .name {
  padding-left: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-body .channel-schedule .channel-name em {
  margin: 0 8px 0 17px;
  color: #a9a9a9;
  font-size: 4.8rem;
}

.channel-body .channel-schedule .channel-name .icon-group {
  width: 22px;
  margin-right: 13px;
}

.channel-body .channel-schedule .channel-name .icon-group i {
  display: block;
  width: 22px;
  height: 22px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.channel-body .channel-schedule .channel-name .icon-group i.ic-lock {
  background-image: url(../images/channel/ic-lock.png);
}

.channel-body .channel-schedule .channel-name .icon-group i.ic-favorite {
  background-image: url(../images/channel/ic-favorite.png);
}

.selected .ic-lock {
  background-image: url(../images/channel/ic-lock-focus.png) !important;
}

.selected .ic-favorite {
  background-image: url(../images/channel/ic-favorite-focus.png) !important;
}

.channel-body .channel-schedule .channel-program {
  position: relative;
  height: 100%;
  flex: 1;
  color: #a9a9a9;
  display: flex;
  align-items: center;
}

.channel-body .channel-schedule .channel-program > ul {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 3.2rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  display: flex;
  align-items: center;
}

.channel-body .channel-schedule .channel-program > ul li {
  padding: 0 29px;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #2A2C3E;
}

.channel-body .channel-schedule .channel-program > ul li > .program {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-body .channel-schedule .channel-program > ul li > .program .subject {
  max-width: 625px;
  font-size: 3.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-body .channel-schedule .channel-program > ul li.add-icon > .program {
  max-width: calc(100% - calc(25px + 12px));
}

.channel-body .channel-schedule .channel-program > ul li.size-min {
  padding: 0;
  text-align: center;
}

.channel-body .channel-schedule .channel-program > ul li.size-min.prev-padding, .channel-body .channel-schedule .channel-program > ul li.size-min.next-padding {
  padding: 0;
}

.channel-body .channel-schedule .channel-program > ul li.size-min > .program {
  display: none;
}

.channel-body .channel-schedule .channel-program > ul li.size-min.focus::after {
  color: #eee;
}

.channel-body .channel-schedule .channel-program > ul li.only-icon::after {
  display: none;
}

.channel-body .channel-schedule .channel-program > ul li.only-icon i {
  margin: 0 auto;
}

.channel-body .channel-schedule .channel-program > ul li.focus > .program {
  z-index: 4;
}

.channel-body .channel-schedule .channel-program > ul li.focus::before {
  position: absolute;
  top: -4px;
  border-radius: 5px;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 0 4px #eee;
  border-radius: 5px;
  left: 4px;
  right: 4px;
  display: block;
  content: '';
  z-index: 4;
}

.channel-body .channel-schedule.selected .arrow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.channel-body .channel-schedule.selected .prev-padding .arrow::before, .channel-body .channel-schedule.selected .next-padding .arrow::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 13px;
  height: 20px;
  display: block;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.channel-body .channel-schedule.selected .prev-padding {
  padding-left: 48px;
}

.channel-body .channel-schedule.selected .prev-padding .arrow::before {
  left: 13px;
  background-image: url(../images/common/ic-arrow-left-focus.png);
}

.channel-body .channel-schedule.selected .next-padding {
  padding-right: 48px;
}

.channel-body .channel-schedule.selected .next-padding .arrow::after {
  right: 13px;
  background-image: url(../images/common/ic-arrow-right-focus.png);
}

.channel-body .channel-schedule.selected .channel-name, .channel-body .channel-schedule.selected .channel-program {
  background-color: #2A2C3E;
  color: #eee;
  border-top: none;
  border-bottom: none;
}

.channel-body .channel-schedule.selected .channel-name em, .channel-body .channel-schedule.selected .channel-program em {
  color: #eee;
}

.channel-body .channel-schedule.favorite-default {
  height: calc(calc(100vh - 166px) - 46px - 46px);
  border-bottom: none;
}

.channel-body .channel-schedule.favorite-default .channel-program {
  align-items: unset;
}

.channel-body .channel-schedule.favorite-default .info-favorite {
  margin: 56px auto 0 auto;
  text-align: center;
}

.channel-body .channel-schedule.favorite-default .info-favorite .img {
  margin: 0 auto;
  width: 198px;
  height: 130px;
  margin-bottom: 26px;
  background-image: url(../images/channel/img-channel-none.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.channel-body .channel-schedule.favorite-default .info-favorite .exp {
  font-size: 2.6rem;
  color: #a9a9a9;
  margin-bottom: 40px;
}

.channel-body .channel-schedule.favorite-default .info-favorite .exp p {
  line-height: 26px;
  margin-bottom: 4px;
}

.channel-body .channel-schedule.favorite-default .info-favorite .exp p:last-child {
  margin-bottom: 0;
}

.channel-body .channel-recommend {
  overflow: hidden;
  height: 506px;
  padding: 0 32px 0 31px;
}

.channel-body .channel-recommend .title {
  font-size: 3.2rem;
  line-height: 27px;
  padding-top: 22px;
}

.channel-body .channel-recommend .contents-list {
  margin-top: 20px;
  flex-wrap: wrap;
  display: flex;
}

.channel-body .channel-recommend .contents-list li {
  margin-right: 39px;
  margin-bottom: 33px;
}

.channel-body .channel-recommend .contents-list li:nth-child(4n) {
  margin-right: 0;
}

.channel-body .channel-recommend .contents-list .focus .poster-horizontal {
  top: -6px;
}

.channel-body .channel-recommend .contents-list .focus .poster-component .poster-tag {
  top: 2px;
  left: -2px;
}

.channel-body .channel-recommend .contents-list .focus .poster-component .poster-time {
  left: -9px;
}

.channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-horizontal::before, .channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-thumbnail, .channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-component::before {
  transform-origin: left;
}

.channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-tag {
  left: 6px;
}

.channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-time {
  left: 0;
}

.channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-time dt, .channel-body .channel-recommend .contents-list > li.focus:nth-child(4n + 1) .poster-time .poster-remaining {
  transform-origin: left;
}

.channel-body .channel-recommend .poster-horizontal {
  width: 274px;
  height: 154px;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-tag {
  top: 6px;
  left: 6px;
  right: unset;
  opacity: 1;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-tag-live {
  font-size: 1.6rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  position: relative;
  width: 50px;
  height: 24px;
  line-height: 24px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #c3c3c3;
  display: flex;
  align-items: center;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-tag-live::before {
  margin-left: 5px;
  margin-right: 2px;
  width: 14px;
  height: 14px;
  background-image: url(../images/common/ic-clock.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  content: '';
}

.channel-body .channel-recommend .poster-horizontal .poster-component::before {
  opacity: 1;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-time dt {
  line-height: 21px;
  display: flex;
  justify-content: space-between;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-time dt em {
  color: #eee;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-time dt span {
  color: #a9a6ff;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-time dt::before {
  display: none;
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-time dd.poster-remaining {
  margin-top: 7px;
  position: relative;
  overflow: hidden;
  background-color: rgba(238, 238, 238, 0.2);
  margin-left: 0;
  height: 4px;
  width: 100%;
  border-radius: calc(4px / 2);
}

.channel-body .channel-recommend .poster-horizontal .poster-component .poster-time dd.poster-remaining > span {
  position: absolute;
  height: 100%;
  border-radius: calc(4px / 2);
  background-color: #999;
}

.channel-body .channel-recommend .meta-data .title {
  width: 274px;
  color: #777;
  padding-top: 8px;
  line-height: 28px;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.channel-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 46px;
  background-color: #080d19;
  padding-right: 33px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.channel-footer .channel-pagination {
  display: flex;
  align-items: center;
}

.channel-footer .channel-pagination .channel-option {
  margin-left: 30px;
}

.channel-footer .channel-pagination ul {
  margin-left: 77px;
  font-size: 2.6rem;
  color: #777;
  display: flex;
  align-items: center;
}

.channel-footer .channel-pagination ul .page-number {
  width: 90px;
  margin: 0 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.channel-footer .channel-pagination ul .page-number .active {
  color: #eee;
}

.channel-footer .channel-pagination ul .page-number .active::after {
  display: inline-block;
  content: '';
  content: '/';
}

.channel-footer .channel-pagination ul .page-prev, .channel-footer .channel-pagination ul .page-next {
  display: flex;
  align-items: center;
}

.channel-footer .channel-pagination ul .page-prev button, .channel-footer .channel-pagination ul .page-next button {
  width: 25px;
  height: 17px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 0;
  color: rgba(0, 0, 0, 0);
}

.channel-footer .channel-pagination ul .page-prev button {
  background-image: url(../images/channel/ic-up-arrow.png);
}

.channel-footer .channel-pagination ul .page-prev.focus button {
  background-image: url(../images/channel/ic-up-arrow-focus.png);
}

.channel-footer .channel-pagination ul .page-next button {
  background-image: url(../images/channel/ic-down-arrow.png);
}

.channel-footer .channel-pagination ul .page-next.focus button {
  background-image: url(../images/channel/ic-down-arrow-focus.png);
}

.channel-footer .channel-option {
  font-size: 2.4rem;
  color: #626373;
  display: flex;
  align-items: center;
}

.channel-footer .channel-option span {
  margin-left: 20px;
}

.channel-footer .channel-option span .ic-round {
  margin-right: 8px;
  display: inline-flex;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  font-size: 1.8rem;
  height: 22px;
  line-height: calc(22px - 1px * 2);
  border-radius: calc(22px / 2);
  border: 1px solid #626373;
  padding: 0 8px;
  color: #626373;
  background-color: #20212d;
}

.channel-footer .channel-option span:first-child {
  margin-left: 0;
}

.channel-footer.none-pagination {
  justify-content: flex-end;
}

.channel-footer.none-option {
  justify-content: flex-start;
}

.schedule-view-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 13, 25, 0.56);
  display: flex;
  z-index: 20;
  display: none;
}

.schedule-view-layer.active {
  display: flex;
}

.schedule-view-layer .close {
  height: 100%;
  width: 32px;
  background-color: #111a2c;
}

.schedule-view-layer .close::before {
  height: 30px;
  margin: 0 auto;
  background-image: url(../images/common/ic-gnb-back.png);
  display: block;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.schedule-view-layer nav {
  overflow: hidden;
  padding-top: 23px;
  width: 344px;
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #080d19 21%);
}

.schedule-view-layer ul li {
  position: relative;
  line-height: 58px;
  margin-bottom: 2px;
  margin-left: 25px;
  padding-left: 17px;
  font-size: 3.6rem;
  color: #a9a9a9;
  display: flex;
  align-items: center;
}

.schedule-view-layer ul li.focus {
  color: #eee;
  font-size: 3.8rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.schedule-view-layer ul li.focus::before {
  position: absolute;
  left: 0;
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background-color: #eee;
  display: block;
  content: '';
}

.schedule-view-button {
  background-color: #111424;
  height: calc(calc(calc(100vh - 166px) - 46px - 46px) + 1px);
  width: 64px;
  position: absolute;
  top: calc(4px - 1px);
  left: 0;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 10;
  border-right: 1px solid #2A2C3E;
}

.schedule-view-button button {
  color: #a9a9a9;
  font-size: 2.2rem;
}

.schedule-view-button button p {
  line-height: 20px;
}

.schedule-view-button button::before {
  width: 13px;
  height: 20px;
  margin: 0 auto;
  margin-bottom: 16px;
  background-image: url(../images/common/ic-arrow-left.png);
  display: block;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.schedule-view-button.focus button {
  color: #eee;
}

.schedule-view-button.focus button::before {
  background-image: url(../images/common/ic-arrow-left-focus.png);
}

.channel-body.reservation {
  height: calc(100vh - 66px - 46px);
}

.channel-reservation-box .child-1, .channel-reservation-box .child-2, .channel-reservation-box .child-3 {
  height: 100%;
  display: flex;
  align-items: center;
  border-right: 1px solid #2A2C3E;
}

.channel-reservation-box .child-1 {
  width: 296px;
}

.channel-reservation-box .child-2 {
  width: 520px;
}

.channel-reservation-box .child-3 {
  flex: 1;
  border-right: none;
}

.channel-reservation-box .ic-tag {
  margin-left: 10px;
  color: #999;
}

.channel-reservation-box .field-reservation {
  height: 46px;
  background-color: #191b2b;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2A2C3E;
}

.channel-reservation-box .field-reservation span {
  font-size: 2.6rem;
  padding-left: 20px;
  color: #d6d6d6;
  border-right: none;
}

.channel-reservation-box .field-reservation .child-1 {
  padding-left: 26px;
}

.channel-reservation-box .list-reservation {
  overflow: hidden;
}

.channel-reservation-box .list-reservation li {
  position: relative;
  height: calc(calc(100vh - 66px - 46px - 46px) / 7);
  color: #999;
  font-size: 3.2rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  display: flex;
  align-items: center;
  border-bottom: 1px solid #2A2C3E;
}

.channel-reservation-box .list-reservation li > div {
  display: flex;
  align-items: center;
}

.channel-reservation-box .list-reservation li .child-1 {
  justify-content: flex-end;
  color: #777;
  font-size: 2.6rem;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
}

.channel-reservation-box .list-reservation li .child-1 .name {
  padding-left: 17px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.channel-reservation-box .list-reservation li .child-1 em {
  margin: 0 33px 0 17px;
  color: #a9a9a9;
  font-size: 4.8rem;
}

.channel-reservation-box .list-reservation li .child-2 p {
  max-width: 400px;
}

.channel-reservation-box .list-reservation li .child-2 p, .channel-reservation-box .list-reservation li .child-3 p {
  margin-left: 34px;
}

.channel-reservation-box .list-reservation li.focus {
  position: relative;
}

.channel-reservation-box .list-reservation li.focus > div {
  position: relative;
  z-index: 1;
}

.channel-reservation-box .list-reservation li.focus .child-1, .channel-reservation-box .list-reservation li.focus .child-1 em, .channel-reservation-box .list-reservation li.focus .child-2 p, .channel-reservation-box .list-reservation li.focus .child-3 p {
  color: #eee;
}

.channel-reservation-box .list-reservation li.focus .child-1, .channel-reservation-box .list-reservation li.focus .child-2 {
  border-right: 1px solid rgba(238, 238, 238, 0.3);
}

.channel-reservation-box .list-reservation li.focus::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 0 6px #eee;
  border-radius: 5px;
  border: 3px solid #eee;
  box-shadow: none;
  background-color: #2A2C3E;
}

.channel-reservation-box .list-reservation li.focus .ic-tag {
  color: #eee;
}
