@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* toast 임시 */
/* vod상세화면 */
.vod-detail-container {
  background-color: #080d19;
}

.vod-detail-container .gradient-bg .vod-detail-bgimage {
  background-position: center;
  opacity: 0.15;
}

.vod-detail-container .poster-vertical {
  position: absolute;
  top: 72px;
  right: 89px;
  width: 213px;
  height: 304px;
}

.vod-detail-container .vod-banner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 480px;
  height: 271px;
}

.vod-detail-container .vod-detail-bgimage {
  background-size: cover;
}

.vod-detail-container .contents {
  padding: 106px 0 0 73px;
}

.vod-detail-container .content-info {
  margin-top: 0;
  height: 255px;
}

.vod-detail-container .default-info, .vod-detail-container .meta-tag {
  display: inline-block;
}

.vod-detail-container .default-info {
  margin-right: 9px;
}

.vod-detail-container .detail-info .tooltip {
  position: absolute;
  margin-left: 305px;
  bottom: -3px;
}

.vod-detail-container .button-area .tooltip {
  padding: 14px 12px;
}

.vod-detail-container .event-message {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 388px;
  margin-top: 9px;
  line-height: 1.4;
}

.vod-detail-container .event-message::before {
  content: none;
}

.vod-detail-container .vod-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.vod-detail-container .vod-button {
  margin-right: 0;
  padding: 0 16px;
}

.vod-detail-container .vod-button .price {
  display: flex;
  flex-direction: column;
}

.vod-detail-container .vod-button .price .original {
  position: relative;
  align-self: flex-end;
  font-size: 1.8rem;
  color: #a9a9a9;
}

.vod-detail-container .vod-button .price .original::after {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
}

.vod-detail-container .tooltip {
  margin-left: 16px;
}

.vod-detail-container .vod-additional-list .view-episode::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/hv_images/vod/ic-vod-episode.png");
}

.vod-detail-container .vod-additional-list .view-more::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/hv_images/vod/ic-vod-viewmore.png");
}

.vod-detail-container .vod-additional-list .focus.wish-list::after, .vod-detail-container .vod-additional-list .focus.rated::after {
  content: '';
}

.vod-detail-container .vod-additional-list .focus.view-more::before {
  background-image: url("../../assets/hv_images/vod/ic-vod-viewmore-focus.png");
}

.vod-detail-container .vod-additional-list .focus.view-episode::before {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../assets/hv_images/vod/ic-vod-episode-focus.png");
}

.vod-detail-container .mobile-message .mobile-view-tip {
  padding-left: 68px;
  color: #ddd;
}

.vod-detail-container .mobile-message .mobile-view-tip::before {
  width: 65px;
  height: 15px;
  background-image: url("../../assets/hv_images/vod/img-vod-logo.png");
}

.vod-detail-container .mobile-message .mobile-view-tip span {
  margin-right: 12px;
  font-family: "Yoon Gothic 770", "YoonGothic 700 70", "Yoon윤고딕 770", "YoonGothic 770", "YOONGOTHICPRO770";
  color: #fff;
}

.vod-detail-container .package {
  padding-top: 93px;
}

.vod-detail-container .package .product-desc {
  width: 330px;
  -webkit-line-clamp: 2;
}

.vod-detail-container .vod-subscribe {
  padding-top: 66px;
}

.vod-detail-container .vod-subscribe .tooltip {
  padding: 8px 12px;
}

/* 콘텐츠 리스트(우측 영역) */
.vod-layer-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

.vod-layer-bg .vod-layer {
  opacity: 0.7;
}

.vod-layer-bg .vod-layer.active {
  opacity: 1;
}

.vod-layer-bg .vod-layer .contents-list li {
  margin-bottom: 21px;
  margin-left: 28px;
}

.vod-layer-bg .vod-layer .contents-list li:nth-child(odd) {
  margin-left: 28px;
}

.vod-layer-bg .vod-layer .contents-list li:nth-child(3n+1) {
  margin-left: 0;
}

.vod-layer-bg .contents-list li {
  opacity: 0.6;
}

.vod-layer-bg .contents-list li.focus {
  opacity: 1;
}

.vod-layer-bg .poster-vertical .poster-button {
  bottom: 0;
}

.vod-layer-bg .package .vod-title.double-line, .vod-layer-bg .vod-subscribe .vod-title.double-line {
  width: 330px;
  height: 106px;
  font-size: 6rem;
}

.vod-layer-bg .package .product-title {
  margin-bottom: 25px;
}

.vod-layer-bg .package .mask {
  height: 14px;
}

.vod-layer-bg .package .contents-list li {
  margin-left: 0;
  margin-bottom: 26px;
}

.vod-layer-bg .package .contents-list li:nth-child(odd) {
  margin-left: 0;
}

.vod-layer-bg .package .contents-list li .meta-data {
  width: 452px;
  margin-left: 26px;
}

.vod-layer-bg .package .contents-list li .content-info {
  margin-top: 10px;
}

.vod-layer-bg .package .contents-list li .title, .vod-layer-bg .package .contents-list li .staff, .vod-layer-bg .package .contents-list li .summary {
  width: 100%;
}

.vod-layer-bg .package .contents-list li .title {
  font-size: 3rem;
}

.vod-layer-bg .package .contents-list li .summary {
  -webkit-line-clamp: 7;
}

.vod-layer-bg .vod-subscribe .product-title {
  margin-bottom: -3px;
}

.vod-layer-bg .vod-subscribe .contents-list-wrap {
  height: calc(100% - 82px);
}

.vod-layer-bg .vod-subscribe .contents-list-wrap .mask {
  height: 16px;
}

.vod-layer-bg .vod-subscribe .content-info {
  height: 292px;
}

.vod-layer-bg .vod-subscribe .content-info .product-desc {
  width: 403px;
  -webkit-line-clamp: 3;
}

.vod-layer-bg .vod-subscribe .poster-vertical {
  width: 205px;
  height: 292px;
}

.vod-layer-bg .vod-subscribe .keyguide {
  position: relative;
}

.vod-layer-bg .vod-subscribe .keyguide::before {
  content: '';
  position: absolute;
  right: -34px;
  bottom: -21px;
  z-index: -1;
  width: 197px;
  height: 86px;
  opacity: 0.62;
  filter: blur(40px);
  background-color: #000;
}

.vod-layer-bg .vod-moreinfo::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  height: 33px;
  transform: rotate(-180deg);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000 74%);
  background-size: 100%;
  opacity: 0;
}

.vod-layer-bg .vod-moreinfo::after {
  height: 33px;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000 74%);
}

.vod-layer-bg .vod-moreinfo .top-cover::before {
  opacity: 1;
}

.vod-layer-bg .vod-moreinfo .contents-list-wrap {
  height: 720px;
  padding-top: 0;
}

.vod-layer-bg .vod-moreinfo .product-title {
  padding-left: 0;
  margin-bottom: 14px;
}

.vod-layer-bg .vod-moreinfo .product-title:not(:nth-of-type(1)) {
  padding-top: 46px;
}

.vod-layer-bg .vod-moreinfo .contents-list {
  display: block;
}

.vod-layer-bg .vod-moreinfo .contents-list ul {
  display: flex;
}

.vod-layer-bg .vod-moreinfo .contents-list ul li {
  margin-bottom: 0;
}

.vod-layer-bg .vod-moreinfo .summary p {
  position: relative;
  width: 672px;
  line-height: 1.58;
  font-size: 2.4rem;
  color: #a9a9a9;
}

.vod-layer-bg .vod-moreinfo .summary p.focus {
  color: #fff;
}

.vod-layer-bg .vod-moreinfo .summary p.focus::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 0 6px #eee;
  border-radius: 5px;
  width: calc(100% + 18px);
  height: calc(100% + 8px);
  transform: translate(-10px, -5px);
}

.vod-layer-bg .vod-moreinfo .poster-vertical {
  width: 205px;
  height: 292px;
}

.vod-layer-bg .scene .contents-list-wrap {
  padding: 65px 0 0 54px;
}

.vod-layer-bg .scene .contents-list .poster-component::before {
  opacity: 0;
}

.vod-layer-bg .scene .contents-list li {
  margin-left: 21px;
}

.vod-layer-bg .scene .contents-list li:nth-child(odd) {
  margin-left: 21px;
}

.vod-layer-bg .scene .contents-list li:nth-child(2n+1) {
  margin-left: 21px;
}

.vod-layer-bg .scene .contents-list li:nth-child(3n+1) {
  margin-left: 0;
}

.vod-layer-bg .scene .poster-horizontal {
  width: 216px;
  height: 129px;
}

.vod-layer-bg .scene .vod.focus .poster-component {
  opacity: 1;
}

.vod-layer-bg .scene .vod.focus .poster-component::after {
  content: '';
  z-index: 2;
  right: 0;
  bottom: 2px;
}

.vod-layer-bg .most-viewed .contents-list-wrap {
  padding: 57px 0 0 54px;
}

.vod-layer-bg .most-viewed .contents-list li {
  margin-bottom: 21px;
}

.vod-layer-bg .most-viewed .poster-vertical {
  width: 205px;
  height: 292px;
}

.vod-layer-bg .most-viewed.active .contents-list li {
  opacity: 1;
}

.vod-layer-bg .episode .season-tab p {
  min-width: 82px;
  max-width: 209px;
  width: auto;
}

.vod-layer-bg .episode .season-tab.tab1 .tab-focus {
  padding: 0 32px;
}

.vod-layer-bg .episode .season-tab.tab1 .tab-focus::before {
  left: 10px;
}

.vod-layer-bg .episode .season-tab.tab1 .tab-focus::after {
  right: 10px;
}

.vod-layer-bg .episode .season-tab.tab2 p, .vod-layer-bg .episode .season-tab.tab3 p {
  width: 188px;
}

.vod-layer-bg .episode .season-tab .focus .text-wrap {
  width: auto;
}

.vod-layer-bg .episode .contents-list li {
  margin-left: 0;
}

.vod-layer-bg .episode .contents-list li:nth-child(odd) {
  margin-left: 0;
}

.vod-layer-bg .episode .contents-list li .title {
  margin-bottom: 6px;
}

.vod-layer-bg .episode .contents-list li .summary {
  -webkit-line-clamp: 3;
}

.vod-layer-bg .episode .contents-list li .poster-component .poster-time dt {
  opacity: 0;
}

.vod-layer-bg .episode .contents-list li .poster-component .poster-time .watch-complete {
  opacity: 1;
}

.vod-layer-bg .episode .contents-list li .poster-component .poster-button em {
  margin-right: 5px;
  color: #a9a6ff;
}

.vod-layer-bg .episode .contents-list li .poster-component .poster-button span {
  position: relative;
  margin-left: 5px;
  font-family: "Yoon Gothic 750", "YoonGothic 700 50", "Yoon윤고딕 750", "YoonGothic 750", "YOONGOTHICPRO750";
  font-size: 1.8rem;
  color: #a9a9a9;
}

.vod-layer-bg .episode .contents-list li .poster-component .poster-button span::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #a9a9a9;
}

.vod-layer-bg .episode .contents-list li.focus .poster-time dt {
  opacity: 1;
}

.vod-layer-bg .episode .contents-list li.focus .purchase-guide p {
  opacity: 1;
}

.vod-layer-bg .episode .purchase-guide p {
  opacity: 0;
}

.vod-layer-bg .episode .purchase-guide p::before {
  margin-right: 0;
}

.vod-layer-bg .episode.active .contents-list li {
  opacity: 1;
}

.purchase-guide .my-coin::before {
  display: inline-block;
  content: '';
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url("../../assets/hv_images/vod/ic-vod-coin.png");
}

.purchase-guide .my-coin span::before {
  display: inline-block;
  content: '';
  width: 1px;
  height: 10px;
  margin: 0 9px;
  background-color: #ef3484;
}

.purchase-guide .my-coin span:first-child::before {
  content: none;
}

.select-language .body-text {
  margin-bottom: 52px;
}

.select-language .language-normal::before {
  background-image: url("../hv_images/vod/ic-language-normal.png");
}

.select-language .focus.language-normal::before {
  background-image: url("../hv_images/vod/ic-language-normal-focus.png");
}

.vod-purchase .series-title {
  height: 46px;
}

.vod-purchase .series-title.double-line {
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  /*! autoprefixer: off */
  -webkit-line-clamp: 2;
  /*! autoprefixer: on */
  -webkit-box-orient: vertical;
  height: 89px;
}

.vod-purchase .series-info .summary {
  height: 80px;
  margin-bottom: 18px;
  -webkit-line-clamp: 3;
}

.vod-purchase .purchase-option.active .scroll {
  opacity: 1;
}

.vod-purchase .scroll {
  top: 0;
  right: -69px;
}

.vod-purchase .poster-vertical {
  width: 213px;
  height: 304px;
}

.vod-purchase .sub-text.line {
  position: relative;
  display: inline-block;
}

.vod-purchase .sub-text.line::before {
  position: absolute;
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 1px;
  background-color: #777;
}

.vod-purchase .focus .sub-text::before {
  background-color: #eee;
}
