@charset "UTF-8";
/* variables */
/* functions */
/* mixins */
/* toast 임시 */
#title {
  position: relative;
  height: 100%;
  background-color: #000;
}

.contents-detail {
  position: relative;
  min-height: 100%;
  background-size: 100% auto;
}

.contents-detail::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
}

.contents-meta {
  position: relative;
  padding: 112px 112px 0;
}

.contents-meta h1 {
  position: relative;
  margin-bottom: 15px;
  color: #fff;
  font-size: 7.5rem;
}

.contents-meta ul {
  display: flex;
  position: relative;
  margin-bottom: 8px;
}

.contents-meta ul:last-of-type {
  margin-bottom: 24px;
}

.contents-meta li {
  position: relative;
  padding-right: 15px;
  margin-right: 15px;
  font-size: 2.5rem;
  color: #777;
}

.contents-meta li::after {
  content: '';
  position: absolute;
  top: 6px;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 18px;
  background-color: #777;
}

.contents-meta li:last-child::after {
  display: none;
}

.contents-meta dl {
  display: flex;
  margin-bottom: 8px;
  font-size: 2.5rem;
}

.contents-meta dl:last-of-type {
  margin-bottom: 0;
}

.contents-meta dt {
  margin-right: 15px;
  color: #777;
}

.contents-meta dd {
  color: #fff;
}

.contents-meta article {
  width: 40%;
  margin-top: 30px;
  color: #fff;
  line-height: 1.4;
  font-size: 2.5rem;
  overflow: hidden;
  display: -webkit-box;
  white-space: normal;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.contents-meta-options {
  display: flex;
  margin-top: 45px;
}

.contents-meta-options button {
  position: relative;
  min-width: 230px;
  height: 90px;
  padding: 0 30px;
  font-size: 3.2rem;
  color: #fff;
  background-color: #303030;
}

.contents-meta-options button.focus {
  font-weight: 700;
  color: #000;
  background-color: #ffca25;
}

.contents-poster-list {
  position: absolute;
  top: 800px;
  left: 0;
  width: 100%;
}

.contents-poster-list ul {
  display: flex;
  position: relative;
  padding: 0 112px;
}

.contents-poster-list li {
  flex: 0 0 283px;
  margin-right: 10px;
}

.test-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.test-modal article {
  width: 800px;
  padding: 20px 20px 30px;
  border: 1px solid #fff;
  background-color: #000;
}

.test-modal article h2, .test-modal article h3 {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
}

.test-modal article h2 {
  font-size: 3.2rem;
}

.test-modal article h3 {
  font-size: 2.8rem;
}

.test-modal article > div {
  display: flex;
}

.test-modal article button {
  flex: 1;
  height: 50px;
  margin-right: 10px;
  color: #fff;
  background-color: #666;
}

.test-modal article button:last-child {
  margin-right: 0;
}

.test-modal article button.focus {
  color: #000;
  background-color: #ffca25;
}

#test-scroll div {
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 200px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #fff;
}

#test-scroll div.focus {
  box-shadow: inset 4px 4px 0 #ffca25, inset -4px -4px 0 #ffca25;
}

#test-field {
  position: relative;
  margin-bottom: 15px;
}

#test-field input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
}

.test-tost {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.test-toast div {
  width: 500px;
  height: 100px;
  text-align: center;
  font-size: 3.2rem;
  color: #fff;
  padding: 30px 50px 0;
  border-radius: 8px;
  background-color: #666;
}
